<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
接口式开发：
1.方法名称要保证和映射文件的sql语句的statement一致
2.namespace的值必须是接口的全路径
-->
<mapper namespace="com.itheima.dao.AdminMapper">
    <update id="updateAdmin" parameterType="Admin">
        update student set adminName=#{adminName},password=#{password},account=#{account},sex=#{sex},phoneNumber=#{phoneNumber},age=#{age} where account=#{account}
    </update>

    <delete id="deleteAdmin" parameterType="String">
        delete from admin where account=#{account}
    </delete>

    <select id="selectAll" resultType="com.itheima.pojo.Admin">
        select * from admin
    </select>

    <select id="selectAdminByAccountAndPassword" resultType="com.itheima.pojo.Admin">
        select * from admin where account=#{account} and password = #{password} limit 1
    </select>

    <insert id="addAdmin" parameterType="com.itheima.pojo.Admin">
        insert into admin(adminName,password,account,sex,phoneNumber,age) values(#{adminName},#{password},#{account},#{sex},#{phoneNumber},#{age})
    </insert>

</mapper>

