<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
接口式开发：
1.方法名称要保证和映射文件的sql语句的statement一致
2.namespace的值必须是接口的全路径
-->
<mapper namespace="com.itheima.dao.HaveBooksMapper">

    <insert id="addBook" parameterType="com.itheima.pojo.HaveBooks">
        insert into haveBooks(bookName,bookPrice,author,number,time,account) values(#{bookName},#{bookPrice},#{author},#{number},#{time},#{account})
    </insert>

    <update id="updateBook" parameterType="com.itheima.pojo.HaveBooks">
        update book set bookName=#{bookName},bookPrice=#{bookPrice},author=#{author},number=#{number},time=#{time},account=#{account} where bookName=#{bookName}
    </update>

    <select id="showAll" resultType="com.itheima.pojo.HaveBooks">
        select * from haveBooks
    </select>

    <delete id="deleteBook" parameterType="String">
        delete from haveBooks where bookName=#{bookName} limit 1
    </delete>

    <delete id="deleteBook2" parameterType="String">
        delete from haveBooks where bookName=#{bookName}
    </delete>

</mapper>

